################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/l1o2u3i45s.github.io/FileContentIndex
